/* Edit Form Styles */
/* Réutilise les styles de add.css */
@import url('./add.css');

/* Styles additionnels si nécessaire */
.task-form .checkbox-label {
  background: none;
  padding: 15px;
  border: none;
  margin-bottom: 20px;
  font-size: 1.1rem;
  width: 30%;
}

.task-form .checkbox-label input{
  margin-right: 1rem;
}
