@import url("../public/css/variables.css");
@import url("../public/css/theme-switch.css");
@import url("../public/css/general.css");
@import url("../public/css/add.css");
@import url("../public/css/edit.css");
@import url("../public/css/home.css");
@import url("../public/css/header.css");
@import url("../public/css/footer.css");
@import url("../public/css/404.css");
@import url("../public/css/error.css");
@import url("../public/css/modal.css");